In [11]:
# This R environment comes with all of CRAN preinstalled, as well as many other helpful packages
# The environment is defined by the kaggle/rstats docker image: https://github.com/kaggle/docker-rstats
# For example, here's several helpful packages to load in 

library(ggplot2) # Data visualization
#library(readr) # CSV file I/O, e.g. the read_csv function
library(lubridate)
library(magrittr)
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

system("ls ../input")

# Any results you write to the current directory are saved as output.

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

Warning message:
"running command 'ls ../input' had status 127"

## Vector

In [12]:
# create vector
price = c(10,6,5)
print(price)
print(class(price))

[1] 10  6  5
[1] "numeric"

In [13]:
# vector with strings
name = c('apple','banana','orange')
print(name)
print(class(name))

[1] "apple"  "banana" "orange"
[1] "character"

## Dataframe

In [14]:
# create df from vectors
name = c('apple','banana','orange')
price = c(10,6,5)
df <- data.frame(name = name,price = price)
df

  name   price
1 apple  10
2 banana  6
3 orange  5

In [15]:
# get columns names of df
names(df)

[1] "name"  "price"

In [16]:
# rename columns
df <- data.frame(name = c('apple','banana','orange'),price = c(10,6,5))
names(df) <- c("name2", "price2")
df

  name2  price2
1 apple  10
2 banana  6
3 orange  5

In [17]:
  # remove some columns
df <- data.frame(name = c('apple','banana','orange'),price = c(10,6,5))
df<- subset(df,select=-c(price))
df

  name
1 apple
2 banana
3 orange

## Dates

In [18]:
# string to date
mydate = '2014-06-28 09:30'
mydate_local <- as.POSIXct(mydate,tz='Europe/Amsterdam')
print(mydate_local)

[1] "2014-06-28 09:30:00 CEST"

In [19]:
# format date
mydate_local <- as.POSIXct('2014-06-28 09:30',tz='Europe/Amsterdam')
a = mydate_local %>% strftime('%Y%m%d%H%M',tz = 'Europe/Amsterdam')
b = strftime(mydate_local,format = '%Y%m%d%H%M',tz = 'Europe/Amsterdam')
print(a)
print(b)

[1] "201406280930"
[1] "201406280930"

In [20]:
# convert local to utc
mydate_local <- as.POSIXct('2014-06-28 09:30',tz='Europe/Amsterdam')
mydate_utc <- mydate_local %>% with_tz('UTC')
print(mydate_utc)

[1] "2014-06-28 07:30:00 UTC"